// $teal: #235b89;
$green: rgba(165, 216, 255, 1);
$darker-green: rgba(54, 57, 59, 1);
$peach: rgb(255, 221, 210);
$tangerine: rgb(224, 123, 86);
// $sage: #d3bb5b84;
$white: rgb(237, 246, 249);
$black: rgb(219, 245, 252);
$grey: rgb(234, 228, 233);
$red: #9a0000;
$border-radius: 8px;

$ruddy-blue: rgba(121, 173, 220, 1);
$peach: rgba(255, 192, 159, 1);
$flax: rgba(255, 238, 147, 1);
$lemon-chiffon: rgba(252, 245, 199, 1);
$celadon: rgb(226, 149, 120);
$linen: rgba(255, 241, 230, 1);
