// $teal: #235b89;
$green: rgba(165, 216, 255, 1);
$darker-green: rgba(54, 57, 59, 1);
$peach: rgb(255, 221, 210);
$tangerine: rgb(226, 149, 120);
// $sage: #d3bb5b84;
$white: rgb(237, 246, 249);
$black: rgb(23, 29, 28);
$grey: #b3b3b3;
$red: #9a0000;
$border-radius: 8px;

$bittersweet: rgb(245, 130, 73);
$mint-green: rgba(210, 241, 228, 1);
$pink-lavender: rgba(251, 202, 239, 1);
$shocking-pink: rgba(230, 55, 191, 1);
$english-violet: rgba(72, 48, 77, 1);
