/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-image: url(src/assets/SimpleShiny.svg);
}

.intro-container {
  margin-top: 60px;
  padding-top: 120px;
  padding-bottom: 80px;
  padding-right: 20px;
  padding-left: 20px;
  width: 80%;
  max-width: 600px;
  // border-bottom: 3px $col-d solid;
  // border-top: 3px $col-d solid;
  // border-right: 3px $col-a solid;
  // border-left: 3px $col-c solid;
  border-radius: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  // background-image: url(src/assets/SimpleShiny.svg);
}
.spinner {
  position: absolute;
  border-bottom: 3px $col-d solid;
  border-top: 3px $col-b solid;
  border-right: 3px $col-a solid;
  border-left: 3px $col-c solid;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  top: 200px;
  animation: spinning 7s infinite linear;
}

.anim-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  h2 {
    margin-left: 10px;
    width: 50%;
  }
  .i-like {
    text-align: right;
  }
  .text-anim {
    text-align: left;
    width: 40%;
  }
}

.about-body-container {
  width: 80%;
  padding-top: 250px;
  padding-bottom: 100px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  .about-text-container {
    width: 100%;
    padding: 5%;
    background-color: $background;
    border-bottom: 3px $col-c solid;
    border-top: 3px $col-a solid;
  }

  .about-img-container {
    width: 80%;
    // height: 250px;

    // text-align: center;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    img {
      transform: translateX(-10%);
      width: 110%;
      background-color: $col-b;
      clip-path: circle(45% at 55% 50%);
    }
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (min-width: 620px) {
  .intro-container {
    border: none;
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .spinner {
    // position: absolute;
    // border-bottom: 3px $col-d solid;
    // border-top: 3px $col-b solid;
    // border-right: 3px $col-a solid;
    // border-left: 3px $col-c solid;
    // border-radius: 50%;
    width: 600px;
    height: 600px;
    top: 190px;
    // animation: spinning 7s infinite linear;
  }
}

@media (min-width: 680px) {
  .intro-container {
    // border-radius: 50%;
    // padding-top: 150px;
    // padding-bottom: 150px;
  }

  .about-body-container {
    .about-text-container {
      width: 80%;
      padding: 5%;

      // background-color: $background;
      border-bottom: 3px $col-d solid;
      border-top: 3px $col-b solid;
      border-right: 3px $col-a solid;
      border-left: 3px $col-c solid;
    }
  }
  .about-img-container {
    width: 50%;
    height: 100%;
    text-align: center;
    img {
      width: 90%;
    }
  }
}

@media (min-width: 860px) {
  .about-body-container {
    width: 100%;
    padding-left: 5%;
    flex-direction: row-reverse;
    justify-content: space-between;

    .about-text-container {
      width: 40%;
      padding: 5%;
      background-color: $background;
      border-bottom: 3px $col-d solid;
      border-top: 3px $col-b solid;
      border-right: 3px $col-a solid;
      border-left: 3px $col-c solid;
    }

    .about-img-container {
      width: 50%;
      height: 100%;
      text-align: center;
      img {
        transform: translateX(-10%);
        width: 100%;
      }
    }
  }
}
