.about-container {
  color: azure;
  width: 100%;
}

.intro-container {
  padding-top: 150px;
  width: 60%;
  margin-left: 25%;
  border-bottom: 2px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anim-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 50%;
  padding-bottom: 180px;

  h2 {
    margin-left: 10px;
  }
}

.about-body-container {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: left;
}
