/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

#root {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  padding-top: 120px;
  text-align: center;
  top: 0;
  // background-color: $linen;
}

.main {
  // padding-top: 25%;
}
header {
  background-color: $background;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100px;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  width: 100%;
  // margin-bottom: 150px;
  padding: 15px;

  .logo-text-container {
    // margin-right: auto;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: center;

    position: absolute;
    top: 0px;
    left: 30px;

    h1 {
      border: 4px $border solid;
      border-radius: 5px;
      padding: 5px;
    }
  }
  .burger-container {
    position: absolute;
    height: 40px;
    width: 60px;
    top: 35%;
    right: 75px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .hamburger {
    width: 100%;
    height: 0;
    // border-bottom: 2px solid white;
  }
  .burger1 {
    border-top: 5px solid $col-c;
  }
  .burger2 {
    border-top: 5px solid $col-b;
  }
  .burger3 {
    border-top: 5px solid $col-a;
  }
  .tab-container {
    position: absolute;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

    width: 100%;
    top: 120px;
    right: 0px;
    background-color: $background;
    button {
      border: none;
      border-radius: 0%;
      border-bottom: 4px solid;
      // border-bottom: 4px solid $col-a;
      width: 50%;
      font-size: 35px;
      height: 100px;
    }
    .col-a {
      border-color: $col-a;
    }
    .col-b {
      border-color: $col-b;
    }
    .col-c {
      border-color: $col-c;
    }
  }

  .open {
    height: 900px;
  }
  .closed {
    height: 0;
    opacity: 0;
  }
}

footer {
  background-color: $background;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

@media (min-width: 860px) {
  header {
    .burger-container {
      display: none;
    }
    .tab-container {
      position: static;
      margin-right: 10%;
      display: flex;
      justify-content: center;
      width: 500px;
      flex-direction: row;
      align-items: center;
      gap: 30px;
      height: 100%;
      opacity: 1;

      button {
        // border-bottom: 1px solid;
        // border-radius: 0%;
        font-size: 25px;
        height: 60px;
      }
    }
  }
}
