/*
**************************
            SASS
**************************
*/
@import "variables";
/*
************END***********
*/

.portfolio-container {
  padding-bottom: 200px;
}

.all-items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  //   background-image: url(src/assets/SimpleShiny.svg);
}

.item-container {
  width: 320px;
  height: 600px;
  padding: 25px;
  margin: 25px;
  background-color: $background;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-top: 3px solid white;
  // border-bottom: 3px solid white;

  img {
    width: 100%;
    border-radius: 5px;
  }

  p {
    height: 120px;
  }

  button {
    border-radius: 0px;
    height: 50px;
    width: 120px;
    transition: all 0.2s linear;
  }

  button:hover {
    border-width: 5px;
    // outline: 1px white solid;
    font-size: 18px;
  }
}

.item-a {
  border-bottom: 3px $col-d solid;
  border-top: 3px $col-b solid;
  // border-right: 3px $col-a solid;
  // border-left: 3px $col-c solid;

  .view {
    border-bottom: 2px $col-a solid;
  }
  .repo {
    border-bottom: 2px $col-c solid;
  }
}
.item-b {
  border-bottom: 3px $col-c solid;
  border-top: 3px $col-d solid;
  // border-right: 3px $col-b solid;
  // border-left: 3px $col-a solid;
  .view {
    border-bottom: 2px $col-b solid;
  }
  .repo {
    border-bottom: 2px $col-a solid;
  }
}
.item-c {
  border-bottom: 3px $col-a solid;
  border-top: 3px $col-c solid;
  // border-right: 3px $col-d solid;
  // border-left: 3px $col-b solid;

  .view {
    border-bottom: 2px $col-d solid;
  }
  .repo {
    border-bottom: 2px $col-b solid;
  }
}
.item-d {
  border-bottom: 3px $col-b solid;
  border-top: 3px $col-a solid;
  // border-right: 3px $col-c solid;
  // border-left: 3px $col-d solid;
  .view {
    border-bottom: 2px $col-c solid;
  }
  .repo {
    border-bottom: 2px $col-d solid;
  }
}

.item-button-container {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
